.event-horizontal-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 0 1rem;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;      
  -ms-overflow-style: none;    
}

.event-horizontal-scroll::-webkit-scrollbar {
  display: none;               
}

.event-horizontal-scroll > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}
