.header-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  border-radius: 12px;
  width: 100%;
}

.profile-avatar {
  width: 60px !important;
  height: 60px !important;
  margin-right: 1rem;
}

.profile-name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
