.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  color: #696F79;
  font-family: Satoshi;
  font-size: 18.695px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-block: 10px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #1c1c1c;
  color: #8692A6;
  font-family: Satoshi;
  font-size: 18.695px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-radius: 7.011px;
  border: 0.584px solid #8692A6;
}

.input::placeholder {
  color: #64748b;
  font-size: 14px;
}


.input:hover {
  border-color: #3f3f3f;
}