.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 365px;
  margin: auto;
  padding: 1.5rem;
}

.register-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.login-text {
  color: #696f79;
  font-family: Satoshi, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.login-text a {
  color: #4285f4;
  text-decoration: underline;
}

.register-btn-wrapper button {
  background-color: #175CD3;
  align-items: center;
  justify-content: center; 
  display: flex
  ;
  border: none;
  border-radius: 100px;
  padding: 0.75rem;
  cursor: pointer;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.2s ease-in-out;
}

.register-btn-wrapper button:hover {
  background-color: #1251bd;
  ;
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Satoshi, sans-serif;
  font-size: 14px;
  color: #9ba0a8;
  margin-block: 10px;
}

.terms input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #5871EB;
  cursor: pointer;
}

.terms label {
  cursor: pointer;
}

.terms a {
  color: #4285f4;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .register-form {
    width: 100%;
    padding: 1rem;
  }

  .terms {
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: Satoshi, sans-serif;
  font-size: 14px;
  color: #9ba0a8;
}
.terms input[type="checkbox"] {
  width: 14px;
  height: 14px;
  accent-color: #5871EB;
  cursor: pointer;
}
} 
