.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  color: #cbd5e1;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #2d2d2d;
  border-radius: 8px;
  background-color: #1c1c1c;
  color: #f1f5f9;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input::placeholder {
  color: #64748b;
  font-size: 14px;
}


.input:hover {
  border-color: #3f3f3f;
}