.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background: #353535;
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-prev {
  left: 50px;
}
.custom-next {
  right: 50px;
}

@media (max-width: 1024px) {
  .custom-prev {
    left: 24px;
  }
  .custom-next {
    right: 24px;
  }
}

@media (max-width: 768px) {
  .custom-prev,
  .custom-next {
    top: 55%;
    padding: 8px;
  }
  .custom-prev {
    left: 12px;
  }
  .custom-next {
    right: 12px;
  }
}

@media (max-width: 480px) {
  .custom-prev,
  .custom-next {
    top: 58%;
    padding: 6px;
  }
  .custom-prev {
    left: 8px;
  }
  .custom-next {
    right: 8px;
  }
}

.featured-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

@media (max-width: 480px) {
 .featured-slide {
  width: 100%;
  display: flex;
  justify-content: center;
}

}

@media (min-width: 481px) and (max-width: 768px) {
 .featured-slide {
  width: 100%;
  display: flex;
  justify-content: center;
}

}

@media (min-width: 769px) and (max-width: 1024px) {
  .featured-slide {
  width: 100%;
  display: flex;
  justify-content: center;
}

}

@media (min-width: 1025px) {
  .featured-slide {
  width: 100%;
  display: flex;
  justify-content: center;
}

}
