* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #1a181b;
}

.my-coupons-page {
  padding: 0rem 3rem;
  font-family: 'Clash Display', sans-serif;
  background-color: #1a181b;
  min-height: 100vh;
  color: white;
}

.coupons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .coupons-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
