* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html,
body {
  overflow: auto;
  background-color: #1a181b;
}

.my-coupons-page {
  font-family: 'Clash Display', sans-serif;
  background-color: #1a181b;
  color: white;
}

.coupons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem auto 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}


@media (max-width: 768px) {
  .coupons-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
