.product-card {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  height: 130px;
  box-sizing: border-box;
  border: 1px solid #4f4f4f;
  border-radius: 0.5rem;
  background-color: #232323;
  box-shadow: 0 2px 6px rgba(61, 61, 61, 0.1);
  font-family: sans-serif;
}

.product-image img {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  padding: 0.5rem 0;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}


.product-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.circle-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #3f3f46;
  background: transparent;
  color: #3f3f46;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-btn.active,
.circle-btn:hover {
  border-color: #99cb36;
  color: #99cb36;
}

.quantity {
  color: #ffffff;
  font-weight: 600;
  min-width: 20px;
  text-align: center;
}
.product-footer{
  gap: 20rem;
}