* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1a181b;
  overflow-x: hidden;
  font-family: 'Clash Display', sans-serif;
}

.my-cart-page {
  padding: 0 3rem;
  background-color: #1a181b;
  color: white;
}

.cart-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
  height: calc(650px - 200px);
}

.products-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding-right: 1rem;
  scrollbar-width: thin;   
  scrollbar-color: transparent transparent; 
}


.products-column::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.products-column::-webkit-scrollbar-thumb {
  background: transparent; 
}


.checkout-column {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  max-height: 100%;
  width: 100%;
}

.product-card {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #4f4f4f;
  border-radius: 0.5rem;
  background-color: #232323;
  box-shadow: 0 2px 6px rgba(61, 61, 61, 0.1);
  font-family: sans-serif;
  box-sizing: border-box;
}

.circle-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #3f3f46;
  background: transparent;
  color: #3f3f46;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-btn.active,
.circle-btn:hover {
  border-color: #99cb36;
  color: #99cb36;
}

.quantity {
  color: #ffffff;
  font-weight: 600;
  min-width: 20px;
  text-align: center;
}

/* Responsive */
@media (max-width: 1024px) {
  .cart-content {
    flex-direction: column;
  }

  .checkout-column {
    position: relative;
    top: 0;
  }
}

@media (max-width: 768px) {
  .my-cart-page {
    padding: 0 1rem;
  }

  .product-card {
    flex-direction: row;
    padding: 0.8rem;
    gap: 0.5rem;
  }

  .product-image img {
    width: 60px;
    height: 60px;
  }

  .product-title {
    font-size: 1.1rem;
  }

  .product-description {
    font-size: 0.9rem;
  }

  .product-price {
    font-size: 1rem;
  }

  .circle-btn {
    width: 28px;
    height: 28px;
    font-size: 0.9rem;
  }

  .quantity {
    min-width: 18px;
    font-size: 0.9rem;
  }
}
