.event-form__stats {
  display: flex;
align-items: center;
gap: 35px;
}

.event-form__stats > div {
display: flex;
height: 51px;
padding: 10px 18px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 9px;
border: 1px solid #ADADAD;
background: #FFF;
}

.event-form__stats label {
 width: 163px;
height: 17px;
color: #000;
font-family: Satoshi;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.event-form__stats input,
.event-form__stats select {
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 1rem;
  outline: none;
}


@media (max-width: 900px) {
  .event-form__stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .event-form__stats {
    grid-template-columns: 1fr;
  }
}
