.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 360px;
  margin: auto;
  padding: 1.5rem;
  border: none;
}

.signup-text {
  text-align: center;
  color: #696f79;
  font-family: Satoshi, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.signup-text span {
  color: #4285f4;
  text-decoration: underline;
}

.signup-text a:hover {
  text-decoration: underline;
}

.divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
  border: none;
}

.divider .line {
  flex: 1;
  height: 1px;
  background-color: #bababa;
}

.divider .or {
  color: #bababa;
  font-family: Satoshi, sans-serif;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 50px;
  background: #fff;
  color: #111;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.google-btn:hover {
  background: #f9fafb;
}

.google-icon {
  width: 18px;
  height: 18px;
}

.forgot-password {
  text-align: right;
  margin: -0.5rem 0 1rem 0;
}

.forgot-password a {
  color: #696f79;
  text-align: right;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.forgot-password a:hover {
  text-decoration: underline;
}