
.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo {
  height: 50px;
}

.header-right {
  gap: 1rem;
}


@media (max-width: 768px) {
  .avatar-container {
    display: none;
  }

  .header-center {
    justify-content: center;
  }

  .header-right {
    gap: 0.5rem;
  }
}
