
.menu-icon{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.cart-icon{
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.logo {
  height: 60px;
}


@media (max-width: 768px) {
  .avatar-container {
    display: none;
  }

  .header-center {
    justify-content: center;
  }

  .header-right {
    gap: 0.5rem;
  }
}
