
.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.logo {
  height: 60px;
}


@media (max-width: 768px) {
  .avatar-container {
    display: none;
  }

  .header-center {
    justify-content: center;
  }

  .header-right {
    gap: 0.5rem;
  }
}
