.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1A181B;
  position: relative;
}

.header-login {
  width: 100%;
  padding: 1.8rem 1.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 10;
  align-content: flex-start;
  flex-direction: column;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1A181B;
}

.logocompleto {
  width: 289px;
  height: 89.194px;
  flex-shrink: 0;
  margin: 20px;

}

.phrase {
  color: #8692A6;
  font-family: Satoshi;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 32.717px;
  margin-top: 10px;
  padding: 10px;
}

.app-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.logoazul {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: auto;
  height: 276.412px;
  flex-shrink: 0;
  z-index: 1;
  pointer-events: none;
}