.coupon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 1.2rem 1.5rem;
  border: 1px solid #4f4f4f;
  border-radius: 0.5rem;
  background-color: #232323;
  box-shadow: 0 2px 6px rgba(61, 61, 61, 0.1);
  font-family: sans-serif;
}

.coupon-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.coupon-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
}

.coupon-description {
  font-size: .8rem;
  margin-top: -1rem;
  color: #e0e0e0;
}

.coupon-value {
  font-size: 1rem;
  font-weight: 600;
  color: #FF0099;
}

.redeem-btn {
  align-self: flex-end;
  padding: 0.5rem 1.2rem;
  margin-top: -1.5rem;
  background-color: #99cb36;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.redeem-btn:hover {
  opacity: 0.9;
}
